<div id="content-wrap">

  <p-card>

    <div class="flex justify-content-end">

      <div class="flex align-items-center justify-content-center">
        <p-button label="Submit" icon="pi pi-check" styleClass="p-button-sm"></p-button>
      </div>
      <div class="flex align-items-center justify-content-center m-2">
        <p-button class="cancelBtn" label="Cancel" icon="pi pi-times" styleClass="p-button-sm"></p-button>
      </div>

    </div>

    <div class="flex">

      <div class="flex-none flex m-2 px-5 py-3">
        <p-menu [model]="stages">
        </p-menu>
      </div>

      <div class="flex-1 flex m-2 px-5 py-3">

        <div class="col-12">
          <p-scrollPanel [style]="{width: '1200px', height: '600px'}" styleClass="custombar1">

            <p></p>
            <h3>Patient Information</h3>
            <div class="formgrid grid">
              <div class="field col">
                <label for="firstname2">Firstname</label>
                <input id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
              <div class="field col">
                <label for="lastname2">Lastname</label>
                <input id="lastname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
            </div>
            <div class="formgrid grid">
              <div class="field col">
                <label for="firstname2">Firstname</label>
                <input id="firstname3" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
              <div class="field col">
                <label for="lastname2">Lastname</label>
                <input id="lastname3" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
            </div>

            <h3>Facility Information</h3>
            <div class="formgrid grid">
              <div class="field col">
                <label for="firstname2">Firstname</label>
                <input id="firstname4" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
              <div class="field col">
                <label for="lastname2">Lastname</label>
                <input id="lastname4" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
            </div>
            <div class="formgrid grid">
              <div class="field col">
                <label for="firstname2">Firstname</label>
                <input id="firstname5" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
              <div class="field col">
                <label for="lastname2">Lastname</label>
                <input id="lastname5" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
            </div>
            <div class="formgrid grid">
              <div class="field col">
                <label for="firstname2">Firstname</label>
                <input id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
              <div class="field col">
                <label for="lastname2">Lastname</label>
                <input id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
            </div>

            <h3>Visit Information</h3>
            <div class="formgrid grid">
              <div class="field col">
                <label for="firstname2">Firstname</label>
                <input id="firstname7" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
              <div class="field col">
                <label for="lastname2">Lastname</label>
                <input id="lastname7" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
              <div class="field col">
                <label for="lastname2">Lastname</label>
                <input id="firstname8" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
              <div class="field col">
                <label for="lastname2">Lastname</label>
                <input id="lastname8" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
            </div>
            <div class="formgrid grid">
              <div class="field col">
                <label for="firstname2">Firstname</label>
                <input id="firstname9" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
              <div class="field col">
                <label for="lastname2">Lastname</label>
                <input id="lastname9" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
            </div>
            <div class="formgrid grid">
              <div class="field col">
                <label for="firstname2">Firstname</label>
                <input id="firstname10" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
              <div class="field col">
                <label for="lastname2">Lastname</label>
                <input id="lastname10" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
            </div>
            <div class="formgrid grid">
              <div class="field col">
                <label for="firstname2">Firstname</label>
                <input id="firstname11" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
              <div class="field col">
                <label for="lastname2">Lastname</label>
                <input id="lastname11" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
            </div>

          </p-scrollPanel>
        </div>

      </div>
    </div>

  </p-card>

</div>



