/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-color: #EFF3F6;
  font: 12px/17px UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
}
